
body {
    width: 350px;
    background-color: #e2e2e29d !important;
    padding: 10px;
    text-align:center;
    transition: background-color .75s ease;
    font-size:13px;
    
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
  }

  span {
    font-size:19px;
  }
  
  #title {
    font-family: "Norwester", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  #caption {
    font-family: "Norwester", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
  }

  .border_top
  {
    border-top: solid black 1px;
  }

  .border_everywhere
  {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
  }
  .border_everywhere:nth-child(even)
  {
    border-right: solid black 1px;
    border-left: solid black 1px;
  }
  .border_everywhere:nth-child(odd)
  {
    border-right: solid black 1px;
  }
  #choices
  {
    margin-top: 30px;
  }

  #socials
  {
    margin-top: -10px;
    margin-left: -38% !important;
  }
  #displayResults
  {
    display: none;
  }