
body {
    width: 350px;
    background-color: #e2e2e29d !important;
    padding: 10px;
    text-align:center;
    transition: background-color .75s ease;
    font-size:13px;
    
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
  }

  span {
    font-size:19px;
  }
  
  #title {
    font-family: "Norwester", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  #caption {
    font-family: "Norwester", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
  }

  .border_top
  {
    border-top: solid black 1px;
  }

  .border_everywhere
  {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
  }
  .border_everywhere:nth-child(even)
  {
    border-right: solid black 1px;
    border-left: solid black 1px;
  }
  .border_everywhere:nth-child(odd)
  {
    border-right: solid black 1px;
  }
  #choices
  {
    margin-top: 30px;
  }

  #socials
  {
    margin-top: -15px;
    margin-bottom: 0px !important;
    margin-left: -35% !important;
  }
  #displayResults
  {
    display: none;
  }
  /* Focus mode styling */
  #zen_label
  {
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 6px;
    margin-right: 10%;
    color: #173084;
    font-weight: 900;
  }
  .ui.toggle.fitted.checkbox
  {
    margin-left: -100% !important;
    margin-top: -2px !important;
  }
  .make_green
  {
    color: #21ba45!important;
  }
  #analytics_label
  {
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-right: 17%;
    font-size: 0.7em;
    font-family: cursive;
    color: #2185d0;
    font-weight: 900;
  }
  .elevate
  {
    margin-top:-9px;
  }